openapi: 3.0.0
info:
  version: '13'
  title: Frappe / ERPNext API
  license:
    name: GPL-3.0
    url: 'http://www.gnu.de/documents/gpl-3.0.en.html'
servers:
  - url: 'http://hrms-demo.assimilate.co.in'
    description: TODO
paths:
  /api/method/rename_doc:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: old_name
          in: path
          required: true
          schema:
            type: string
        - name: new_name
          in: path
          required: true
          schema:
            type: string
        - name: merge
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: old_name
          in: path
          required: true
          schema:
            type: string
        - name: new_name
          in: path
          required: true
          schema:
            type: string
        - name: merge
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/ping:
    get:
      parameters:
        summary: Call a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
    post:
      parameters:
        summary: Post data to a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
  /api/method/update_translations_for_source:
    get:
      parameters:
        - name: source
          in: path
          required: true
          schema:
            type: string
        - name: translation_dict
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: source
          in: path
          required: true
          schema:
            type: string
        - name: translation_dict
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_translations:
    get:
      parameters:
        - name: source_text
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: source_text
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_messages:
    get:
      parameters:
        - name: language
          in: path
          required: true
          schema:
            type: string
        - name: start
          in: path
          required: true
          schema:
            type: string
        - name: page_length
          in: path
          required: true
          schema:
            type: string
        - name: search_text
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: language
          in: path
          required: true
          schema:
            type: string
        - name: start
          in: path
          required: true
          schema:
            type: string
        - name: page_length
          in: path
          required: true
          schema:
            type: string
        - name: search_text
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_source_additional_info:
    get:
      parameters:
        - name: source
          in: path
          required: true
          schema:
            type: string
        - name: language
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: source
          in: path
          required: true
          schema:
            type: string
        - name: language
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_contributions:
    get:
      parameters:
        - name: language
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: language
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_contribution_status:
    get:
      parameters:
        - name: message_id
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: message_id
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_all_languages:
    get:
      parameters:
        - name: with_language_name
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: with_language_name
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/download_file:
    get:
      parameters:
        - name: file_url
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: file_url
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/add_attachments:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: attachments
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: attachments
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/update_follow:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: doc_name
          in: path
          required: true
          schema:
            type: string
        - name: following
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: doc_name
          in: path
          required: true
          schema:
            type: string
        - name: following
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/follow_document:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: doc_name
          in: path
          required: true
          schema:
            type: string
        - name: user
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: doc_name
          in: path
          required: true
          schema:
            type: string
        - name: user
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/unfollow_document:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: doc_name
          in: path
          required: true
          schema:
            type: string
        - name: user
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: doc_name
          in: path
          required: true
          schema:
            type: string
        - name: user
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_follow_users:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: doc_name
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: doc_name
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/export_customizations:
    get:
      parameters:
        - name: module
          in: path
          required: true
          schema:
            type: string
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: sync_on_migrate
          in: path
          required: true
          schema:
            type: string
        - name: with_permissions
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: module
          in: path
          required: true
          schema:
            type: string
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: sync_on_migrate
          in: path
          required: true
          schema:
            type: string
        - name: with_permissions
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_transitions:
    get:
      parameters:
        - name: doc
          in: path
          required: true
          schema:
            type: string
        - name: workflow
          in: path
          required: true
          schema:
            type: string
        - name: raise_exception
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doc
          in: path
          required: true
          schema:
            type: string
        - name: workflow
          in: path
          required: true
          schema:
            type: string
        - name: raise_exception
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/apply_workflow:
    get:
      parameters:
        - name: doc
          in: path
          required: true
          schema:
            type: string
        - name: action
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doc
          in: path
          required: true
          schema:
            type: string
        - name: action
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/can_cancel_document:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/bulk_workflow_approval:
    get:
      parameters:
        - name: docnames
          in: path
          required: true
          schema:
            type: string
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: action
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: docnames
          in: path
          required: true
          schema:
            type: string
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: action
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_common_transition_actions:
    get:
      parameters:
        - name: docs
          in: path
          required: true
          schema:
            type: string
        - name: doctype
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: docs
          in: path
          required: true
          schema:
            type: string
        - name: doctype
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/search:
    get:
      parameters:
        - name: query
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: query
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/web_search:
    get:
      parameters:
        - name: query
          in: path
          required: true
          schema:
            type: string
        - name: scope
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: query
          in: path
          required: true
          schema:
            type: string
        - name: scope
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/submit:
    get:
      parameters:
        - name: doc
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doc
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/cancel:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: workflow_state_fieldname
          in: path
          required: true
          schema:
            type: string
        - name: workflow_state
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: workflow_state_fieldname
          in: path
          required: true
          schema:
            type: string
        - name: workflow_state
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/rename:
    get:
      parameters:
        - name: self
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: merge
          in: path
          required: true
          schema:
            type: string
        - name: force
          in: path
          required: true
          schema:
            type: string
        - name: validate_rename
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: self
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: merge
          in: path
          required: true
          schema:
            type: string
        - name: force
          in: path
          required: true
          schema:
            type: string
        - name: validate_rename
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_subscribed_documents:
    get:
      parameters:
        summary: Call a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
    post:
      parameters:
        summary: Post data to a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
  /api/method/set_seen_value:
    get:
      parameters:
        - name: value
          in: path
          required: true
          schema:
            type: string
        - name: user
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: value
          in: path
          required: true
          schema:
            type: string
        - name: user
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_notification_logs:
    get:
      parameters:
        - name: limit
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: limit
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/mark_all_as_read:
    get:
      parameters:
        summary: Call a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
    post:
      parameters:
        summary: Post data to a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
  /api/method/mark_as_read:
    get:
      parameters:
        - name: docname
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: docname
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/trigger_indicator_hide:
    get:
      parameters:
        summary: Call a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
    post:
      parameters:
        summary: Post data to a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
  /api/method/add:
    get:
      parameters:
        - name: parent
          in: path
          required: true
          schema:
            type: string
        - name: role
          in: path
          required: true
          schema:
            type: string
        - name: permlevel
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: parent
          in: path
          required: true
          schema:
            type: string
        - name: role
          in: path
          required: true
          schema:
            type: string
        - name: permlevel
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/set_permission:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: user
          in: path
          required: true
          schema:
            type: string
        - name: permission_to
          in: path
          required: true
          schema:
            type: string
        - name: value
          in: path
          required: true
          schema:
            type: string
        - name: everyone
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: user
          in: path
          required: true
          schema:
            type: string
        - name: permission_to
          in: path
          required: true
          schema:
            type: string
        - name: value
          in: path
          required: true
          schema:
            type: string
        - name: everyone
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_users:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/make_access_log:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: document
          in: path
          required: true
          schema:
            type: string
        - name: method
          in: path
          required: true
          schema:
            type: string
        - name: file_type
          in: path
          required: true
          schema:
            type: string
        - name: report_name
          in: path
          required: true
          schema:
            type: string
        - name: filters
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: path
          required: true
          schema:
            type: string
        - name: columns
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: document
          in: path
          required: true
          schema:
            type: string
        - name: method
          in: path
          required: true
          schema:
            type: string
        - name: file_type
          in: path
          required: true
          schema:
            type: string
        - name: report_name
          in: path
          required: true
          schema:
            type: string
        - name: filters
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: path
          required: true
          schema:
            type: string
        - name: columns
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/save:
    get:
      parameters:
        - name: doc
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doc
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get:
    get:
      parameters:
        - name: chart_name
          in: path
          required: true
          schema:
            type: string
        - name: chart
          in: path
          required: true
          schema:
            type: string
        - name: no_cache
          in: path
          required: true
          schema:
            type: string
        - name: filters
          in: path
          required: true
          schema:
            type: string
        - name: from_date
          in: path
          required: true
          schema:
            type: string
        - name: to_date
          in: path
          required: true
          schema:
            type: string
        - name: timespan
          in: path
          required: true
          schema:
            type: string
        - name: time_interval
          in: path
          required: true
          schema:
            type: string
        - name: heatmap_year
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: chart_name
          in: path
          required: true
          schema:
            type: string
        - name: chart
          in: path
          required: true
          schema:
            type: string
        - name: no_cache
          in: path
          required: true
          schema:
            type: string
        - name: filters
          in: path
          required: true
          schema:
            type: string
        - name: from_date
          in: path
          required: true
          schema:
            type: string
        - name: to_date
          in: path
          required: true
          schema:
            type: string
        - name: timespan
          in: path
          required: true
          schema:
            type: string
        - name: time_interval
          in: path
          required: true
          schema:
            type: string
        - name: heatmap_year
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/wrapper_fn:
    get:
      parameters:
        - name: args
          in: path
          required: true
          schema:
            type: string
        - name: kwargs
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: args
          in: path
          required: true
          schema:
            type: string
        - name: kwargs
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/save_report:
    get:
      parameters:
        - name: reference_report
          in: path
          required: true
          schema:
            type: string
        - name: report_name
          in: path
          required: true
          schema:
            type: string
        - name: columns
          in: path
          required: true
          schema:
            type: string
        - name: filters
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: reference_report
          in: path
          required: true
          schema:
            type: string
        - name: report_name
          in: path
          required: true
          schema:
            type: string
        - name: columns
          in: path
          required: true
          schema:
            type: string
        - name: filters
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/delete_report:
    get:
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/delete_items:
    get:
      parameters:
        summary: Call a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
    post:
      parameters:
        summary: Post data to a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
  /api/method/get_filter_dashboard_data:
    get:
      parameters:
        - name: stats
          in: path
          required: true
          schema:
            type: string
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: filters
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: stats
          in: path
          required: true
          schema:
            type: string
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: filters
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_list:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: fields
          in: path
          required: true
          schema:
            type: string
        - name: filters
          in: path
          required: true
          schema:
            type: string
        - name: group_by
          in: path
          required: true
          schema:
            type: string
        - name: order_by
          in: path
          required: true
          schema:
            type: string
        - name: limit_start
          in: path
          required: true
          schema:
            type: string
        - name: limit_page_length
          in: path
          required: true
          schema:
            type: string
        - name: parent
          in: path
          required: true
          schema:
            type: string
        - name: debug
          in: path
          required: true
          schema:
            type: string
        - name: as_dict
          in: path
          required: true
          schema:
            type: string
        - name: or_filters
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: fields
          in: path
          required: true
          schema:
            type: string
        - name: filters
          in: path
          required: true
          schema:
            type: string
        - name: group_by
          in: path
          required: true
          schema:
            type: string
        - name: order_by
          in: path
          required: true
          schema:
            type: string
        - name: limit_start
          in: path
          required: true
          schema:
            type: string
        - name: limit_page_length
          in: path
          required: true
          schema:
            type: string
        - name: parent
          in: path
          required: true
          schema:
            type: string
        - name: debug
          in: path
          required: true
          schema:
            type: string
        - name: as_dict
          in: path
          required: true
          schema:
            type: string
        - name: or_filters
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_count:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: filters
          in: path
          required: true
          schema:
            type: string
        - name: debug
          in: path
          required: true
          schema:
            type: string
        - name: cache
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: filters
          in: path
          required: true
          schema:
            type: string
        - name: debug
          in: path
          required: true
          schema:
            type: string
        - name: cache
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_value:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: fieldname
          in: path
          required: true
          schema:
            type: string
        - name: filters
          in: path
          required: true
          schema:
            type: string
        - name: as_dict
          in: path
          required: true
          schema:
            type: string
        - name: debug
          in: path
          required: true
          schema:
            type: string
        - name: parent
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: fieldname
          in: path
          required: true
          schema:
            type: string
        - name: filters
          in: path
          required: true
          schema:
            type: string
        - name: as_dict
          in: path
          required: true
          schema:
            type: string
        - name: debug
          in: path
          required: true
          schema:
            type: string
        - name: parent
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_single_value:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: field
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: field
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/set_value:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: fieldname
          in: path
          required: true
          schema:
            type: string
        - name: value
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: fieldname
          in: path
          required: true
          schema:
            type: string
        - name: value
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/insert:
    get:
      parameters:
        - name: doc
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doc
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/insert_many:
    get:
      parameters:
        - name: docs
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: docs
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/delete:
    get:
      parameters:
        - name: web_form_name
          in: path
          required: true
          schema:
            type: string
        - name: docname
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: web_form_name
          in: path
          required: true
          schema:
            type: string
        - name: docname
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/bulk_update:
    get:
      parameters:
        - name: self
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: self
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/has_permission:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: docname
          in: path
          required: true
          schema:
            type: string
        - name: perm_type
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: docname
          in: path
          required: true
          schema:
            type: string
        - name: perm_type
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_doc_permissions:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: docname
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: docname
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_password:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: fieldname
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: fieldname
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_js:
    get:
      parameters:
        - name: items
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: items
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_time_zone:
    get:
      parameters:
        summary: Call a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
    post:
      parameters:
        summary: Post data to a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
  /api/method/attach_file:
    get:
      parameters:
        - name: filename
          in: path
          required: true
          schema:
            type: string
        - name: filedata
          in: path
          required: true
          schema:
            type: string
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: docname
          in: path
          required: true
          schema:
            type: string
        - name: folder
          in: path
          required: true
          schema:
            type: string
        - name: decode_base64
          in: path
          required: true
          schema:
            type: string
        - name: is_private
          in: path
          required: true
          schema:
            type: string
        - name: docfield
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: filename
          in: path
          required: true
          schema:
            type: string
        - name: filedata
          in: path
          required: true
          schema:
            type: string
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: docname
          in: path
          required: true
          schema:
            type: string
        - name: folder
          in: path
          required: true
          schema:
            type: string
        - name: decode_base64
          in: path
          required: true
          schema:
            type: string
        - name: is_private
          in: path
          required: true
          schema:
            type: string
        - name: docfield
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/is_document_amended:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: docname
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: docname
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/validate_link:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: docname
          in: path
          required: true
          schema:
            type: string
        - name: fields
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: docname
          in: path
          required: true
          schema:
            type: string
        - name: fields
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/clear:
    get:
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: string
        - name: ticket
          in: path
          required: true
          schema:
            type: string
        - name: comment
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: string
        - name: ticket
          in: path
          required: true
          schema:
            type: string
        - name: comment
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_boot_assets_json:
    get:
      parameters:
        summary: Call a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
    post:
      parameters:
        summary: Post data to a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
  /api/method/send_csv_to_client:
    get:
      parameters:
        - name: args
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: args
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/logout:
    get:
      parameters:
        summary: Call a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
    post:
      parameters:
        summary: Post data to a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
  /api/method/web_logout:
    get:
      parameters:
        summary: Call a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
    post:
      parameters:
        summary: Post data to a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
  /api/method/uploadfile:
    get:
      parameters:
        summary: Call a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
    post:
      parameters:
        summary: Post data to a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
  /api/method/upload_file:
    get:
      parameters:
        summary: Call a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
    post:
      parameters:
        summary: Post data to a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
  /api/method/status:
    get:
      parameters:
        - name: args
          in: path
          required: true
          schema:
            type: string
        - name: kwargs
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: args
          in: path
          required: true
          schema:
            type: string
        - name: kwargs
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/start:
    get:
      parameters:
        - name: record_jobs
          in: path
          required: true
          schema:
            type: string
        - name: record_requests
          in: path
          required: true
          schema:
            type: string
        - name: record_sql
          in: path
          required: true
          schema:
            type: string
        - name: profile
          in: path
          required: true
          schema:
            type: string
        - name: capture_stack
          in: path
          required: true
          schema:
            type: string
        - name: explain
          in: path
          required: true
          schema:
            type: string
        - name: request_filter
          in: path
          required: true
          schema:
            type: string
        - name: jobs_filter
          in: path
          required: true
          schema:
            type: string
        - name: args
          in: path
          required: true
          schema:
            type: string
        - name: kwargs
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: record_jobs
          in: path
          required: true
          schema:
            type: string
        - name: record_requests
          in: path
          required: true
          schema:
            type: string
        - name: record_sql
          in: path
          required: true
          schema:
            type: string
        - name: profile
          in: path
          required: true
          schema:
            type: string
        - name: capture_stack
          in: path
          required: true
          schema:
            type: string
        - name: explain
          in: path
          required: true
          schema:
            type: string
        - name: request_filter
          in: path
          required: true
          schema:
            type: string
        - name: jobs_filter
          in: path
          required: true
          schema:
            type: string
        - name: args
          in: path
          required: true
          schema:
            type: string
        - name: kwargs
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/stop:
    get:
      parameters:
        - name: args
          in: path
          required: true
          schema:
            type: string
        - name: kwargs
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: args
          in: path
          required: true
          schema:
            type: string
        - name: kwargs
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/export_data:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: parent_doctype
          in: path
          required: true
          schema:
            type: string
        - name: all_doctypes
          in: path
          required: true
          schema:
            type: string
        - name: with_data
          in: path
          required: true
          schema:
            type: string
        - name: select_columns
          in: path
          required: true
          schema:
            type: string
        - name: file_type
          in: path
          required: true
          schema:
            type: string
        - name: template
          in: path
          required: true
          schema:
            type: string
        - name: filters
          in: path
          required: true
          schema:
            type: string
        - name: export_without_column_meta
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: parent_doctype
          in: path
          required: true
          schema:
            type: string
        - name: all_doctypes
          in: path
          required: true
          schema:
            type: string
        - name: with_data
          in: path
          required: true
          schema:
            type: string
        - name: select_columns
          in: path
          required: true
          schema:
            type: string
        - name: file_type
          in: path
          required: true
          schema:
            type: string
        - name: template
          in: path
          required: true
          schema:
            type: string
        - name: filters
          in: path
          required: true
          schema:
            type: string
        - name: export_without_column_meta
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/import_data:
    get:
      parameters:
        - name: file
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: file
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/getpage:
    get:
      parameters:
        summary: Call a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
    post:
      parameters:
        summary: Post data to a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
  /api/method/reset_tour:
    get:
      parameters:
        - name: tour_name
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: tour_name
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/update_user_status:
    get:
      parameters:
        - name: value
          in: path
          required: true
          schema:
            type: string
        - name: step
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: value
          in: path
          required: true
          schema:
            type: string
        - name: step
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/deferred_insert:
    get:
      parameters:
        - name: routes
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: routes
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/frequently_visited_links:
    get:
      parameters:
        summary: Call a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
    post:
      parameters:
        summary: Post data to a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
  /api/method/getdoc:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: user
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: user
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/getdoctype:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: with_parent
          in: path
          required: true
          schema:
            type: string
        - name: cached_timestamp
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: with_parent
          in: path
          required: true
          schema:
            type: string
        - name: cached_timestamp
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_docinfo:
    get:
      parameters:
        - name: doc
          in: path
          required: true
          schema:
            type: string
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doc
          in: path
          required: true
          schema:
            type: string
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_communications:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: start
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: start
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_user_info_for_viewers:
    get:
      parameters:
        - name: users
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: users
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_contact_list:
    get:
      parameters:
        - name: txt
          in: path
          required: true
          schema:
            type: string
        - name: page_length
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: txt
          in: path
          required: true
          schema:
            type: string
        - name: page_length
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/relink:
    get:
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: reference_doctype
          in: path
          required: true
          schema:
            type: string
        - name: reference_name
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: reference_doctype
          in: path
          required: true
          schema:
            type: string
        - name: reference_name
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_communication_doctype:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: txt
          in: path
          required: true
          schema:
            type: string
        - name: searchfield
          in: path
          required: true
          schema:
            type: string
        - name: start
          in: path
          required: true
          schema:
            type: string
        - name: page_len
          in: path
          required: true
          schema:
            type: string
        - name: filters
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: txt
          in: path
          required: true
          schema:
            type: string
        - name: searchfield
          in: path
          required: true
          schema:
            type: string
        - name: start
          in: path
          required: true
          schema:
            type: string
        - name: page_len
          in: path
          required: true
          schema:
            type: string
        - name: filters
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/create_email_flag_queue:
    get:
      parameters:
        - name: names
          in: path
          required: true
          schema:
            type: string
        - name: action
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: names
          in: path
          required: true
          schema:
            type: string
        - name: action
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/mark_as_closed_open:
    get:
      parameters:
        - name: communication
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: communication
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/move_email:
    get:
      parameters:
        - name: communication
          in: path
          required: true
          schema:
            type: string
        - name: email_account
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: communication
          in: path
          required: true
          schema:
            type: string
        - name: email_account
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/mark_as_trash:
    get:
      parameters:
        - name: communication
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: communication
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/mark_as_spam:
    get:
      parameters:
        - name: communication
          in: path
          required: true
          schema:
            type: string
        - name: sender
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: communication
          in: path
          required: true
          schema:
            type: string
        - name: sender
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/revert:
    get:
      parameters:
        - name: self
          in: path
          required: true
          schema:
            type: string
        - name: reason
          in: path
          required: true
          schema:
            type: string
        - name: ignore_permissions
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: self
          in: path
          required: true
          schema:
            type: string
        - name: reason
          in: path
          required: true
          schema:
            type: string
        - name: ignore_permissions
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/add_review_points:
    get:
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: string
        - name: points
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: string
        - name: points
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_energy_points:
    get:
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_user_energy_and_review_points:
    get:
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: string
        - name: from_date
          in: path
          required: true
          schema:
            type: string
        - name: as_dict
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: string
        - name: from_date
          in: path
          required: true
          schema:
            type: string
        - name: as_dict
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/review:
    get:
      parameters:
        - name: doc
          in: path
          required: true
          schema:
            type: string
        - name: points
          in: path
          required: true
          schema:
            type: string
        - name: to_user
          in: path
          required: true
          schema:
            type: string
        - name: reason
          in: path
          required: true
          schema:
            type: string
        - name: review_type
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doc
          in: path
          required: true
          schema:
            type: string
        - name: points
          in: path
          required: true
          schema:
            type: string
        - name: to_user
          in: path
          required: true
          schema:
            type: string
        - name: reason
          in: path
          required: true
          schema:
            type: string
        - name: review_type
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_reviews:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: docname
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: docname
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/update_last_known_versions:
    get:
      parameters:
        summary: Call a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
    post:
      parameters:
        summary: Post data to a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
  /api/method/get_versions:
    get:
      parameters:
        summary: Call a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
    post:
      parameters:
        summary: Post data to a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
  /api/method/show_update_popup:
    get:
      parameters:
        summary: Call a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
    post:
      parameters:
        summary: Post data to a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
  /api/method/make_view_log:
    get:
      parameters:
        - name: referrer
          in: path
          required: true
          schema:
            type: string
        - name: browser
          in: path
          required: true
          schema:
            type: string
        - name: version
          in: path
          required: true
          schema:
            type: string
        - name: user_tz
          in: path
          required: true
          schema:
            type: string
        - name: source
          in: path
          required: true
          schema:
            type: string
        - name: campaign
          in: path
          required: true
          schema:
            type: string
        - name: medium
          in: path
          required: true
          schema:
            type: string
        - name: visitor_id
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: referrer
          in: path
          required: true
          schema:
            type: string
        - name: browser
          in: path
          required: true
          schema:
            type: string
        - name: version
          in: path
          required: true
          schema:
            type: string
        - name: user_tz
          in: path
          required: true
          schema:
            type: string
        - name: source
          in: path
          required: true
          schema:
            type: string
        - name: campaign
          in: path
          required: true
          schema:
            type: string
        - name: medium
          in: path
          required: true
          schema:
            type: string
        - name: visitor_id
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_page_view_count:
    get:
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/reset_otp_secret:
    get:
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: user
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_logged_user:
    get:
      parameters:
        summary: Call a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
    post:
      parameters:
        summary: Post data to a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
  /api/method/get_auto_account_deletion:
    get:
      parameters:
        summary: Call a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
    post:
      parameters:
        summary: Post data to a remote procedure
      responses:
        '200':
          description: Successful
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Whitelisted Methods
  /api/method/optimize_file:
    get:
      parameters:
        - name: self
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: self
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/unzip_file:
    get:
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
    'null':
      '200':
        description: Successful
      '401':
        $ref: '#/components/responses/UnauthorizedError'
      '403':
        $ref: '#/components/responses/Forbidden'
    post:
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      tags:
        - Whitelisted Methods
  /api/method/get_attached_images:
    get:
      parameters:
        - name: doctype
          in: path
          required: true
          schema:
            type: string
        - name: names
[...]
